<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDOaxWw1BGg1DOzb5A46ivyYqjYqMkGLsA</string>
	<key>GCM_SENDER_ID</key>
	<string>219578876393</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>qmodo.ru.kopim</string>
	<key>PROJECT_ID</key>
	<string>device-streaming-74c1af8e</string>
	<key>STORAGE_BUCKET</key>
	<string>device-streaming-74c1af8e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:219578876393:ios:03dedf8dd0f7af9f3bcb78</string>
	<key>DATABASE_URL</key>
	<string>https://device-streaming-74c1af8e-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>